* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* debug */
    background-color: black;
}



#centratura-webcam {
    display: flex;
    /* debug */
    width: 80%;
    height: 80%;
}

.cambio-schermata {
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.cambio-schermata i {
    color: grey;
    text-align: center;
    font-size: 50px;
}
.destro {
    order: 1;
}

.cambio-schermata.destro i {
    color: #2ebaff;
}


#speacker-view {
    display: flex;
    
    position: absolute;
    right: 13px;
    top: 13px;
}

#speacker-view div {
    color: white;
    margin: 0 7px;
    background-color: #373737;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.col {
  /*   display: flex; */
 /*    flex-direction: column; */
    /* debug */
    width: calc(100% / 5);
/*     height: 80vh; */
   /*  background-color: cornflowerblue;
    border: solid 1px black; */
}

.webcam {
/*     display: flex; */
    width: 100%;
    height: calc(100% / 5);
    position: relative;
    padding: 3px;
}

/* gestione immagine */
.webcam img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.nome-partecipante {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 2px 3px;
    max-height: 22px;
    overflow: hidden;
}

/* /gestione immagine */

footer {
    height: 80px;
    background-color:#212325;
    display: flex;
    justify-content: space-between;
}

#nav-sx {
    background-color: red;
    /* debug */
    width: 200px;
    height: 50px;
}

#nav-center {
    background-color: red;
    /* debug */
    width: 400px;
    height: 50px;
}

#end-meeting {
    background-color: red;
    /* debug */
    width: 100px;
    height: 50px;
}